.heading {
  background-image: linear-gradient($color-neutral-light, $color-neutral-light),
    url('../images/bg-hero-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 3rem 10% 4rem;
  display: grid;
  row-gap: 3rem;
  margin-bottom: 6rem;

  @media only screen and (min-width: $bp-laptop) {
    text-align: left;
    padding: 4rem 8rem 4rem;
    grid-template-columns: 0.8fr 1.2fr;
    column-gap: 6rem;
    align-items: center;
  }

  &__description {
    margin: 2.2rem 0 2rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    @media only screen and (min-width: $bp-laptop) {
      margin: 3rem 0;
    }
  }
  &__img {
    margin-top: 2rem;
    display: block;
    width: 100%;
  }
}
