.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $bp-tablet) {
    grid-column: 1/-1;
  }

  &__logo {
    width: 30%;

    @media only screen and (min-width: $bp-tablet) {
      width: 20rem;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__btn {
    outline: none;
    border: none;
    border-radius: $border-radius-btn;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    padding: 0.7rem 3rem;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    @media only screen and (min-width: $bp-tablet) {
      padding: 1.8rem 8rem;
      font-size: 1.4rem;
    }
    &:hover {
      background-color: darken(#fff, 2);
    }
    &:active {
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      transform: translateY(0.1rem);
    }
  }
}
