body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: $color-neutral-dark;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  @media only screen and (min-width: $bp-laptop) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.8rem;
  @media only screen and (min-width: $bp-laptop) {
    font-size: 2.5rem;
  }
}
