$color-primary-pink: hsl(322, 100%, 66%);

$color-neutral-light: hsl(193, 100%, 96%);
$color-neutral-dark: hsl(192, 100%, 9%);

$color-gray: hsl(208, 11%, 55%);

$border-radius-btn: 5rem;
$border-radius-card: 1rem;

// Breakpoints

$bp-larger: 112em;
$bp-laptop: 90em;
$bp-tablet: 48em;
